/* 기본 버튼 스타일 */
.button {
  /* font-family: "Georgia", serif; 고풍스러운 폰트 */
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px; /* 버튼 간 마진 */
  border: none;
  cursor: pointer;
  color: #ffffff; /* 텍스트 흰색 */
  background-color: #333333; /* 기본 배경색 */
  border-radius: 8px; /* 약간의 곡선 */
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.2); 양각 효과 */
  transition: all 0.1s ease-in-out; /* 부드러운 애니메이션 */
}

/* 선택된(active) 버튼 스타일 */
.button.active {
  background-color: #555555; /* 강조된 배경색 */
  box-shadow: inset 2px rgba(0, 0, 0, 0.6), inset -2px -2px 4px rgba(255, 255, 255, 0.3); /* 눌린 효과 */
  color: #ffffff; /* 텍스트 골드 색상 */
  border: 2px solid #565656; /* 골드 테두리 */
}

/* 버튼 그룹 컨테이너 */
.button-group {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 정렬 */
  gap: 10px; /* 버튼 간 간격 */
  height: 100px;
  width: 100%;
}